.Dictionary__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.Dictionary__navbar__logo {
  margin-right: auto;
}
.Dictionary__navbar__space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Dictionary__navbar__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  padding: 0 26px;
}
.Dictionary__navbar__toggle-moon {
  margin-left: 16px;
  width: 24px;
  height: 24px;
}
.Dictionary__navbar__toggle-space {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 23px;
}
.Dictionary__navbar__toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}
.Dictionary__navbar__toggle input:checked + .Dictionary__navbar__toggle-switch {
  background-color: #a445ed;
}
.Dictionary__navbar__toggle input:checked + .Dictionary__navbar__toggle-switch::before {
  -webkit-transform: translateX(18px);
          transform: translateX(18px);
}
.Dictionary__navbar__toggle-switch {
  position: absolute;
  inset: 0;
  cursor: pointer;
  border-radius: 34px;
  background-color: #ccc;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.Dictionary__navbar__toggle-switch::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 5px;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.Dictionary__navbar__selector {
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
}
.Dictionary__navbar__selector:focus {
  outline: none;
}
.Dictionary__navbar__selector option {
  padding: 10px;
}
.Dictionary__navbar__selector-box {
  position: relative;
  margin-right: 10px;
  font-weight: bold;
}
.Dictionary__navbar__selector-toggler {
  position: absolute;
  top: 8px;
  right: 8px;
}
.Dictionary__navbar__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.Dictionary__navbar__user__avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid black;
}
.Dictionary__navbar__user__name {
  padding-right: 8px;
  margin-left: 16px;
  margin-right: 8px;
  border-right: 1px solid #e9e9e9;
}